/* oi */

/* MAIN */
/* corpo do site */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;	
	color:#ffffff;
	background-color: rgb(32,32,32);
	margin-top: 5%;
	margin-bottom: 5%;
}

div.inner {
	max-width: 782px;
	width: 100%;
	margin: 0 auto;
}

div.bar {
	width: 50%;
}

#img-container{
	display: flex;
	flex-wrap: wrap;
}

#img-container > div {
	justify-content: center;
	display: inline;
	padding: 1%;
	width: 30%;
}

/* HEADINGS */

/* h1 {} 
h2 {} 
h3 {}
h4 {} /*

/* PARAGRAFOS */

p {font-family: 'Open Sans';
	font-size: 100%;
	color:#ffffff;
	line-height: 150%;
}

p.justo {
  text-align: justify;
  text-justify: inter-word;
}

p.bandcamp {
	text-justify: inter-word;
	max-width: 45%;
}

p.ping {
	text-justify: inter-word;
	max-width: 47%;
}

/* ESPACOS */

/*
br {
    display: block;
    content: "";
    margin-top: 1.5%;
}
*/

/* IMAGENS */
/* perfil index */
img.idx {
	width: 355px; /*355px*/
	height: 388px; /*388px*/
}

/* capas bandcamp */
img.bandcamp {
	width: 50%;
	height: 50%;
}

img.bandcamp:hover {
	box-shadow: 0 0 2px 1px;
	color: #ff6e00;
}

/*fotos do calendario*/
img.datas {
	width: 80%;
	height: 80%;
}

/* fotos na horizontal */
img.hor {
	width: 100%;
	height: 100%;
}

/* fotos na vertical */
img.ver {
	width:324px;
	height:432px;
}

/* mini fotos na horizontal */
img.minihor {
	width: 100%;
}

/* mini fotos na vertical */
img.miniver {
	max-height: 240px;
	width: 100%;
}

img.minihor:hover {
	box-shadow: 0 0 2px 1px;
	color: #ff6e00;
	width: 100%;
}

img.miniver:hover {
	box-shadow: 0 0 2px 1px;
	color: #ff6e00;
	width: 100%;
}

/* borda demais imagens com link */
img.link:hover {
	box-shadow: 0 0 2px 1px;
	color: #ff6e00;
}

/* borda do perfil da bio */
img.bio {
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
}

img.redirect {
	width: 15px;
	height: 15px;
}

img.cc {
	width:10%; 
	height:10%;
}

/* DIAGRAMAÇÃO */
/* colunas e centro */
div.meio {
	width: 60%;
}

/* canto */
div.canto {
	width: 25%;
}

/* albuns fotograficos */

/*div.fotografia {width: 100%}*/

div.noite {
	float: left;
	width: 1200px;
}

/* LINKS */
/* link nao visitado*/
a:link {
	color: #ffb84d;
	text-decoration: none;
}

/* link visitado */
a:visited {
	color: #ffb84d;
	text-decoration: none;
}

/* mouse sobre link */
a:hover {
	color: #ff6e00;
	text-decoration: none;
}

/* link selecionado */
a:active {color:  #ffffff;
	text-decoration: none;
} 

/* English button */

button[type=english] {
	background-color: #ffb84d;
	color: black;
	border: none;
}

button[type=english]:hover {
	opacity=0.8;
}

/*Email form*/

input[type=text] {
	width:30%;
	padding: 1%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	width:15%;
	padding: 1%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: #ffb84d;
	color: black;
	border: none;
}

input[type=submit] {
	background-color: #ffb84d;
	color: black;
	border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* https://fonts.googleapis.com/css?family=Geo */
@font-face {  font-family: 'Geo';  font-style: normal;  font-weight: 400;  src: local('Geo'), local('Geo-Regular'), url(https://fonts.gstatic.com/s/geo/v9/lutaIpfXBU1nwBiNdnFGUw.woff2) format('woff2');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;}
/* https://fonts.googleapis.com/css?family=Open+Sans */
/* latin-ext */@font-face {  font-family: 'Open Sans';  font-style: normal;  font-weight: 400;  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;}
/* latin */@font-face {  font-family: 'Open Sans';  font-style: normal;  font-weight: 400;  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;}
