AddDescription "grandes invenções da humanidade" "grandes-invencoes-da-humanidade.html" #Sun, 16 May 2021 01:17:17 -0300
AddDescription "sobre a mesa" "sobre-a-mesa.html" #Mon, 31 May 2021 16:34:45 -0300
AddDescription "banco de rimas" "banco-de-rimas.html" #Wed, 02 Jun 2021 22:20:43 -0300
AddDescription "banco de rimas
rimas" "rimas.html" #Wed, 02 Jun 2021 22:20:43 -0300
AddDescription "Stella by Time" "stella-by-time.html" #Thu, 08 Jul 2021 02:53:23 -0300
AddDescription "tenacity" "tenacity.html"
AddDescription "bem-te-vi steps" "bemtevi-steps.html" #Thu, 19 Aug 2021 02:47:23 -0300
AddDescription "boas ideias" "boas-ideias.html" #Wed, 01 Sep 2021 12:31:58 -0300
